$bootstrap-sass-asset-helper: true;
$body-bg: transparent;
$icon-font-path: "bootstrap-sass/assets/fonts/bootstrap/";
@import "~bootstrap-sass/assets/stylesheets/bootstrap-sprockets";
@import "~bootstrap-sass/assets/stylesheets/bootstrap";
@import "navigation";
html{
    background-color: $gray-darker; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
}
.brand-image{
    width: 45px;
    height:45px;
}
.navbar-header{
    margin-bottom:  30px
}